<%- include('partials/header') -%>

<h><%= competition_data.competition_name %></h>

<div class="row" align-content: flex-start>
    <div class="col-sm-4">
        <h1>Matches</h1>

        <h2>Round 1</h2>
        <% scores_data.forEach(function(score) { %>
        <% if (score.round === 1) { %>   
            <p>
            <%= getParticipantName(score.participant1_id) %> 
            |
            <%= getParticipantName(score.participant2_id) %>
            , winner:
            <%= getWinParticipantName(score.participantwin_id, score.draw) %>
            </p>
            <% if (isOwner) { %>
                <% if (score.is_finished === false) { %>
                    <form id="resultForm" action="/saveResult" method="post">
                        <input type="hidden" name="score_id" value="<%= score.id %>">
                        <label>
                        Select result:
                        <select name="result">
                            <option value="<%= score.participant1_id %>"><%= getParticipantName(score.participant1_id) %> won</option>
                            <option value="<%= score.participant2_id %>"><%= getParticipantName(score.participant2_id) %> won</option>
                            <option value= -1 >Draw</option>
                        </select>
                        </label>
                    <button type="submit">Submit result</button>
                    </form>
                <% } %>
            <% } %>
        <% }}); %>

        <h2>Round 2</h2>
        <% scores_data.forEach(function(score) { %>
        <% if (score.round === 2) { %>   
            <p>
            <%= getParticipantName(score.participant1_id) %> 
            |
            <%= getParticipantName(score.participant2_id) %>
            , winner:
            <%= getWinParticipantName(score.participantwin_id, score.draw) %>
            </p>
            <% if (isOwner) { %>
                <% if (score.is_finished === false) { %>
                    <form id="resultForm" action="/saveResult" method="post">
                        <input type="hidden" name="score_id" value="<%= score.id %>">
                        <label>
                        Select result:
                        <select name="result">
                            <option value="<%= score.participant1_id %>"><%= getParticipantName(score.participant1_id) %> won</option>
                            <option value="<%= score.participant2_id %>"><%= getParticipantName(score.participant2_id) %> won</option>
                            <option value= -1 >Draw</option>
                        </select>
                        </label>
                    <button type="submit">Submit result</button>
                    </form>
                <% } %>
            <% } %>
        <% }}); %>

        <h2>Round 3</h2>
        <% scores_data.forEach(function(score) { %>
        <% if (score.round === 3) { %>   
            <p>
            <%= getParticipantName(score.participant1_id) %> 
            |
            <%= getParticipantName(score.participant2_id) %>
            , winner:
            <%= getWinParticipantName(score.participantwin_id, score.draw) %>
            </p>
            <% if (isOwner) { %>
                <% if (score.is_finished === false) { %>
                    <form id="resultForm" action="/saveResult" method="post">
                        <input type="hidden" name="score_id" value="<%= score.id %>">
                        <label>
                        Select result:
                        <select name="result">
                            <option value="<%= score.participant1_id %>"><%= getParticipantName(score.participant1_id) %> won</option>
                            <option value="<%= score.participant2_id %>"><%= getParticipantName(score.participant2_id) %> won</option>
                            <option value= -1 >Draw</option>
                        </select>
                        </label>
                    <button type="submit">Submit result</button>
                    </form>
                <% } %>
            <% } %>
        <% }}); %>
    </div>
    <div class="col-sm-4">
        <div class="well">
            <h1>Leaderboard</h1>
                <ul>
                <% participant_data.forEach(function(participant) { %>
                    <li>Rank <%= participant.rank %>: <%= participant.participant_name %> - <%= participant.score %></li>
                <% }); %>
                </ul>
        </div>
        </div>
</div>
<% function getParticipantName(participantId) {
    var participant = participant_data.find(function(participant) {
      return participant.id === participantId;
    });
    return participant ? participant.participant_name : 'Participant Not Found';
  } %>

<% function getWinParticipantName(participantId, draw) {
    if(draw === true) {
        return 'Draw';
    } else {
        var participant = participant_data.find(function(participant) {
            return participant.id === participantId;
        });
        return participant ? participant.participant_name : 'Not played';
    }
} %>

<%- include('partials/footer') -%>