<%- include('partials/header') -%>

  <h1 class="text-4xl mb-4">Welcome <%= user.nickname %></h1>

  <% if (user.picture) { %>
    <img class="block py-3" src="<%= user.picture %>" width="300">
  <% } %>

  <p class="py-3">
    Your competitions:
    <ul>
      <% competitions.forEach(function(competition) { %>
        <li>
          link: <a href="/competition/<%= competition.id %>"><strong><%= competition.competition_name %></strong></a>
        </li>
      <% }); %>
    </ul>

  </p>

<%- include('partials/footer') -%>
